/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Fonts */
@font-face {
	font-family: Manrope;
	src: url("../fonts/Manrope.ttf");
}


html{
	height: 100%;
}
body {	
	display: flex;
	flex-direction: column;
	height: 100%;	
	width: 100%;
	font-family: Manrope;
	line-height: 1.5;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
main{
	flex-grow: 1;
	background-color: azure;
}

  
/* Header */
/* Header top */
.header__top {	
	background-color: azure;
}
.header__top .header__body{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}
.header__top .header__logo img{
	max-width: 300px;
	height: auto;
}
.header__top ul li a{
	font-size: 21px;
	color: #2b2b2b;
	text-decoration: none;	
}
.header__top ul li i{
	margin-right: 10px;
}
/* Header bottom */
.header__bottom{
	background-color: #2b2b2b;	
	border-top: 1px solid #c14f2b;
	border-bottom: 1px solid #c14f2b;
}
.header__bottom .header__body{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;	
}
.header__bottom .header__menu{
	width: 100%;
}
.header__bottom .header__list{
	display: flex;
	justify-content: space-around;
}
.header__bottom a{
	color: azure;
	font-size: 21px;
	text-decoration: none;	
}
.header__bottom a.active{
	color: #c14f2b;
}
/* Header burger */
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
	cursor: pointer;
}
.header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s ease 0s;
}
.header__burger:before {
    top: 0;
}
.header__burger:after {
    bottom: 0;
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
	background-color: #c14f2b;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;	
	background-color: #c14f2b;
}
.header__burger.active span {
    transform: scale(0);	
}
.header__burger__menu{
	display: none;
	transition: 0.2s linear all;
}
.header__burger__menu.active{
	display: block;
}
.header__burger__menu .container{
	position: relative;
	z-index: 2;
}
.header__burger__list{	
	position: absolute;
	top: -1px;
	left: 0;
	background-color: #525555;
	width: 300px;
	border: 1px solid #2b2b2b;
	border-top: 0px;
	border-radius: 0 0 15px 15px;
}
.header__burger__menu ul li:first-child{
	display: flex;
	align-items: center;
	justify-content: center;
	color: azure;
	font-size: 23px;
	font-weight: bolder;
}
.header__burger__menu ul li{
	line-height: 2.5;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #2b2b2b;
}
.header__burger__menu ul li.hover{
	background-color: #2b2b2b;
}
.header__burger__menu ul li:last-child{
	border-radius: 0 0 15px 15px;
	border-bottom: 0px;
}
.header__burger__menu ul li a{
	font-size: 21px;
	text-decoration: none;
	color: azure;	
	padding: 0 43%;
}
.header__burger__menu ul li a.hover{
	font-weight: bold;
	margin-left: 20px;
}


/* Footer */
.footer__top{
	height: 150px;
	background-color: #2b2b2b;	
}
.footer__top .partner-carousel-wrap{
	background-color: azure;
	padding: 0 20px;
	border-radius: 0 0 15px 15px;
}
.footer__top .partner-carousel .single-partner{
	display: flex;
	align-items: center;
	height: 80px;
}
.footer__top .partner-carousel .single-partner img {	
	opacity: 0.8;
	cursor: pointer;
}
.footer__top .partner-carousel .single-partner:hover img {
	opacity: 1;
}

.footer__top .wrapper__info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	color: #fff;
	font-size: 18px;
}
.footer__top .social{
	display: flex;
	align-items: center;
}
.footer__top .social a{	
	color: #fff;
	text-decoration: none;		
}
.footer__top .social i{	
	font-size: 24px;
	padding-left: 20px;		
}
/* h1 hidden */
h1.hidden{
	font-size: 1px;
	visibility: hidden;
}

/* Cart Category */
.wrap__cart__category{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.category__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   margin: 10px 5px;
   width: 300px;
   height: 250px;
   text-align: center;
   border: 3px solid rgba(0, 0, 0, 20%);
   background-color: white;
   transition: .3s ease-in;
   border-radius: 10px;
   cursor: pointer;
}
.category__item:hover {
   border: 3px solid #c75732;
}
.category__item h3 {
   display: inline-block;
   height: 75px;
   text-align: center;
   font-size: 18px;
   padding: 10px 0;
   color: #c75732;
   font-weight: bold;
}
.category__item img {
   width: 75%;
   height: 125px;
} 
.category__products {
   position: absolute;
   bottom: 5px;
}
.category__products a{
   text-decoration: none;
   display: inline-block;
   border-radius: 5px;
   padding: 0 20px;
   background-color: #c75732;
   color: white;
   font-size: 15px;
   line-height: 28px;
   transition: .3s ease-in;
}
.category__products:hover a{
   background-color: #cccccc;
   color: #2b2b2b;
}

/* Actual Price */
.actual__price{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 100%;
	font-size: 21px;
}
.actual__price span{
	color: #c14f2b;
	font-size: 30px;
}

/* Ð¡art Products */
.cart__products{
	margin: 30px 0;
}
.wrap__cart__products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.product__item {
	position: relative;
	margin: 10px 15px;
	width: 300px;
	height: 400px;
	text-align: center;
	border: 3px solid rgba(0, 0, 0, 20%);
	background-color: white;
	transition: .3s ease-in;
	border-radius: 10px;
	cursor: pointer;
 }
 .product__item:hover {
	border: 3px solid #c75732;
 }
 .product__item img {
	max-height: 120px;
	width: auto;
 }
 .product__item h3 {
	font-size: 18px;
	font-weight: 400;
	color: #444444;
	padding: 10px 0;
	line-height: 1.2;
 }
 .product_list{
	 text-align: left;
	 padding: 15px;
	 line-height: 1.3;
	 font-size: 14px;
	 border-top: 1px solid rgba(0, 0, 0, 20%);
 }
 .product__buy{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 20%);
 }
 .product__buy .price {
	font-size: 20px;
	color: #c75732;
	display: block;
 }
 .product__buy a{
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	padding: 0 12px;
	background-color: #c75732;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 28px;
	transition: .3s ease-in;
 }
 .product__buy:hover a{
	background-color: #cccccc;
	color: #2b2b2b;
 }
 .product__item .new{
	display: inline-block;
	position: absolute;
	top: 60px;
	right: 0px;
 }
 .product__item .new img{
	width: 80px;
	height: auto;
 }


 /* Owl Carousel Top Menu */
.section-slide-wrap{
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	padding-top: 25px;	
}
.section-slide-wrap .single-slide img{
	border-radius: 15px;
} 
.owl-theme .owl-dots .owl-dot.active span{
	background-color: #c14f2b;
}


/* Line */
.line {
    line-height: 1em;
    position: relative;
    border: 0;
    color: #c14f2b;
    text-align: center;
    height: 1.5em;
	font-size: 21px;
	font-weight: bold;
}
.line:before {
    content: '';
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.5), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.line:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: azure;
}


/*<--------------- Pages---------------->*/

/* About  */
.main__about .info .container{
	border-left:  2px solid #b34928;
	border-right:  2px solid #b34928;
}
.main__about .wrapper__info{
	padding: 0 70px;
}
.main__about .info h1,h2 {
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}
.main__about .info h2{
	text-align: left;
}
.main__about .info p {
	text-align: justify;
	padding: 0 100px;
}
.main__about .info ul {
	margin-left: 50px;
	margin-bottom: 20px;
	text-align: justify;
	list-style-type: disc;
}
 /* STIHL Puly  */
 .product__item__stihl__pulu{
	height: 345px;
 }
 /* STIHL Motokosu */
 .product__item__stihl__motokosu img{
	max-height: 200px;
 }
 /* STIHL Gazonokosarku */
 .product__item__stihl__gazonokosarku img{
	max-height: 195px;
 }
 /* STIHL Aeratoru */
 .product__item__stihl__aeratoru img{
	max-height: 195px;
 }
 /* STIHL Muyku */
 .product__item__stihl__muyky img{
	max-height: 195px;
 }
 .product__item__stihl__muyky .product_list{
	padding: 5px 15px;
 }
 /* STIHL Povitrodyuku */
 .product__item__stihl__povitrodyuku{
	height: 310px;
 }
 /* Metabo */
 .main__metabo .category__item img {
	width:75%;
	height: auto;
 }
 .main__metabo .category__item h3 {
	height: 50px;
 }
/* Metabo Perferatoru */
.main__metabo__perferatoru .product__item{
	height: 350px;
}
/* Metabo Kutovi Shlifmashunu */
.main__metabo__kutovi__slifmashunu .product__item{
	height: 350px;
}
/* Metabo  Shlifmashunu */
.main__metabo__shlifmashunu .product__item{
	height: 350px;
}
/* Metabo  Shlifmashunu */
.main__metabo__pulku img{
	max-height: 150px;
}
/* Metabo  Shlifmashunu */
.main__metabo__lobzuku .product__item{
	height: 350px;
}
/* Metabo  Gaykovertu */
.main__metabo__gaykovertu img{
	max-height: 150px;
}
/* Metabo  Termofenu */
.main__metabo__termofenu .product__item{
	height: 350px;
}
.main__metabo__termofenu img{
	max-height: 150px;
}
/* Metabo  Kompresoru */
.main__metabo__kompresoru .product__item{
	height: 360px;
}
/* Media requests */
@media (max-width: 1200px) {
	.container {
	  max-width: 970px;
	}
  }
  
@media (max-width: 992px) {
	.container {
	  max-width: 750px;
	}	
  }
  
@media (max-width: 767px) {
	.container {
	  max-width: none;
	  padding: 0 15px;
	}

	/* Footer */
	.footer__top .wrapper__info{
		display: flex;
		justify-content: space-around;
		flex-direction: column;	
		height: 70px;
		font-size: 16px;		
	}
  }
  
@media (max-width: 575px) {	
	/* Header */
	.header__top .header__body{
		height: 250px;
		flex-direction: column;
		justify-content: center;
	}
	.header__top .header__logo{
		margin-left: 25px;
	  }
	.header__top .header__contact{
		margin-top: 10px;
	  }
	.header__bottom a{
		font-size: 18px;	
	  }
	.header__bottom .header__menu{
		padding: 0 10px;	
	  }
	.header__burger__list{
		width: 100%;
	  }
	.header__burger__menu{
		transition: 0s;
	  }
	.header__burger__menu ul li{
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #2b2b2b;	
		line-height: 2.35;
	  }
	.header__burger__menu ul li:last-child{
		  border-bottom: 0px;	
	}
	  
	/* Footer */	  
	.footer__top .partner-carousel .single-partner{
		justify-content: center;
		height: 50px;
	  }
	.footer__top .partner-carousel .single-partner img {	
		opacity: 1;
		width: 70%;
		height: auto;
	}
	.footer__top .partner-carousel-wrap{
		width: 80%;
		margin: 0 auto;		
	} 
	.footer__top .wrapper__info{
		padding: 10px 0;
		height: 100px;
	}
	/* Cart Category */
	.category__item h3{
		font-size: 16px;
	}
	/* Line */
	.line{
		font-size: 16px;
	}

	/* About page */
	.main__about .wrapper__info{
		padding: 0;
	}
	.main__about .info ul {
		margin: 20px;
		text-align: left;
	}
	.main__about .info p {
		text-align: left;
		padding: 0;
	}
	
	/* Actual Price */
	.actual__price {
		height: 60px;
		font-size: 16px;
	}
	.actual__price span{
		font-size: 20px;
	}
	
}